        <%# ONLY IN BUILD/DEV VERSION %>
        <script src="http://localhost:35729/livereload.js?snipver=1"></script>
        <%# ONLY IN DIST VERSION _%>
        <%# DATA TRACKING PIXEL %>
    </body>
</html>
