        <%# ONLY IN BUILD/DEV VERSION _%>
        <% if(!production){ %>
        <script src="http://localhost:35729/livereload.js?snipver=1"></script>
        <% } %>
        <%# ONLY IN DIST VERSION _%>
        <%- include('tracking') _%>
    </body>
</html>
