<html>
    <head>
        <% if(!production) { %>
        <title>build/<%= data.subject %></title>
        <% } %>
        <%
        stylesheets = [data.styles].reduce(function(a,b){ return a.concat(b) }, []); // to accept string or array
        stylesheets.forEach(function(sheet){ %>
            <link href="styles/<%= sheet %>" media="all" rel="stylesheet" type="text/css" />
        <% }); %>
    </head>
