<script>
    function viewSource() {
        var emailContent = document.getElementById('email-content').innerHTML;
        window.open("data:text," + encodeURIComponent(emailContent), "_blank");
    }
</script>
<a href="javascript:viewSource()">View source</a><br />
